## Accordion
```Swift
struct ContentView: View {
    let data = [
        JetAccordionItem(title: "Header 1", content: "Lorem ipsum ..."),
        JetAccordionItem(title: "Header 2", content: "Lorem ipsum ...")
    ]
    @State var expandedViewIdx: Int? = 0
    var body: some View {
        VStack {
            JetAccordion(data: data)
            Spacer()
            HStack {
                Button(action: {
                    expandedViewIdx = 0
                }){
                    Text("Open 1st")
                }
                Button(action: {
                    expandedViewIdx = 1
                }){
                    Text("Open 2nd")
                }
                Button(action: {
                    expandedViewIdx = nil
                }, label: {
                    Text("Close")
                })
            }
        }
        .padding()
    }
}
```
Accordion is used to show and hide content. Collapsed element will animate the height from 0 to its original height.
<p align="center">
    <%= image_tag('Accordion.webp') %>
</p>

### API
### JetAccordion
Property | Description | Type | Default
--------- | ------- | ----------- | -----------
data | Array of items to display in accordion format | [JetAccordionItem] | -
expandedViewIdx (optional) | Index of the expanded view, all items are collapsed when expandedViewIdx == nil | Binding\<Int?> | nil
header (optional) | View that will be displayed instead of default header. | (item: JetAccordionItem, isExpanded: Bool) -> View | EmptyView()
body (optional) | View that will be displayed instead of default body. | (item: JetAccordionItem, isExpanded: Bool) -> View | EmptyView()
```Swift
let data = [
        JetAccordionItem(title: "Header 1", content: "Lorem ipsum ..."),
        JetAccordionItem(title: "Header 2", content: "Lorem ipsum ...")
]
JetAccordion(data: data)
```
### JetAccordionItem
Property | Description | Type | Default
--------- | ------- | ----------- | -----------
title | Text that will be displayed in JetAccordion header | String | -
content | Text that will be displayed in JetAccordion body | String | -
